*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    /* crée la forme du button + la typo */
    border-radius: 32px; /*arrondir les angles */

padding: 11px 21px;
display: inline-block;
text-decoration: none;
color: white;
font-family: "Itim", cursive;

}



.vert{

background-color: #4ba463
}

.rouge{
    background-color: red;
}







